[package]
name = "gps"
version = "6.6.1"
edition = "2018"
license-file = "LICENSE"
description = "Official CLI & library for Git Patch Stack"
homepage = "https://git-ps.sh"
documentation = "https://book.git-ps.sh"
repository = "https://github.com/uptech/git-ps-rs"
readme = "README.md"
keywords = ["git", "development", "tools"]
categories = ["command-line-utilities", "library", "development-tools"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
git2 = "0.17.1"
uuid = { version = "1.1", features = ["serde", "v4"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3.26"
regex = "1.5.6"
lazy_static = "1.4.0"
is_executable = "1.0.1"
home-dir = "0.1.0"
gpgme = "0.11.0"
toml = "0.5.9"
ansi_term = "0.12.1"
ureq = "2.4.0"
version-compare = "0.1.0"

[patch.crates-io]
home-dir = { git = 'https://github.com/uptech/home-dir', branch = 'upgrade-nix-dependency-to-latest' }

[dev-dependencies]
tempfile = "3.3.0"

[build-dependencies]
structopt = "0.3.26"

[features]
backup_cmd = []
