#!/bin/sh

# isolate_post_checkout hook
#
# This hook handles verifying a patch is isolated after checking out the
# temporary ps/tmp/isolate branch.
#
# gps exposes the remote name and remote url respective as arg 1 and 2
#
# Generally you want this script to verify that your code builds,
# your tests pass, and any other constraints you want to add here
# to make sure your code is good prior to integration. People often add linting

remote_name=$1 # string of the remote name (e.g. origin)
remote_url=$2 # string of the remote url
